@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root{
    --main-color: #191f3a;
    --sub-color: #eaa023;
    --text-coler: #ffffff;
    --bg-color: #0c1023
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

}
.btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--sub-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color:var(--text-coler);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.section-pading {
    padding: 80px 0;
}
.justify-content{
    justify-content: space-between;
}
.contarner {
    margin: auto;
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.top{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
}
.top::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
}
.top.active::before{
    transform: translateY(0);
}
.top .logo img {
    width: 80px;
}
.top .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

}
.top .menu-bar.active{
    position: fixed;
    top: 30px;
    right: 0;
    transform: translateX(-200px);
    z-index: 1;
}

.top .menu-bar span{
    display: block;
    height: 2px;
    width: 40px;
    background-color: var(--sub-color);
    position: relative;
}
.top .menu-bar.active span{
    background-color: transparent;
}
.top .menu-bar.active::before {
    transform: rotate(-135deg);
}
.top .menu-bar.active::after {
    transform: rotate(135deg);
}
.top .menu-bar span::before {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-10px) ;
    background-color: var(--sub-color);
    transition: all 0.3s ease;
}
.top .menu-bar span::after {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: var(--sub-color);
    transition: all 0.3s ease;
}
.menu-items{
    position: fixed;
    width:  250px;
    height: 100vh;
    background-color:  var(--main-color);
    right: 0;
    top: 0;
    padding: 100px 30px;
    transform: translateX(100%);
    transition: all 0.3s ease;
}
.menu-bar.active{
    transform: translateX(0);
}
.menu-items a {
    color:var(--text-coler);
    font-size: 25px;
    line-height: 40px;
    font-family: 'Pushster', sans-serif ; 
}
/* big image */
.big-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    position: relative;
    overflow: hidden;
}
.big-image::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("image/chup-hinh-nha-hang-khach-san-3.png");
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: inout 5s infinite;
} 
@keyframes inout {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-image::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -2;
}
.big-image .big-image-content {
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2{
    font-size: 50px;
    color: var(--text-coler);
    font-family: 'Pushster', cursive;
}
.big-image .big-image-content p{
    font-size: 25px;
    color: var(--text-coler);
    font-weight: bold;
    margin: 15px 0;

}
/* about */
.about {
    background-color: var(--main-color);
}
.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-coler);
    text-transform: uppercase;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Pushster' ;
}
.about .about-item h2{
    color: var(--text-coler);
    font-size: 35px;
}
.about .about-item p{
    font-size: 20px;
    margin: 15px 0 30px;
    color: var(--text-coler);
}
.about .about-item img{
    width: 100%;
    border-radius: 10px;
}
.about-item {
    width: calc(100%/2);
    padding: 15px;
}
.about-item-img{
    position: relative;
}
.about-item-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--main-color);
    font-family: 'Pushster' ;
    font-weight: 900;
    font-size: 25px;
    transform: translate(-50%,50%);    
}
.about-item-img::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid var(--sub-color);
    position: absolute;
    top: calc(50%-50px);
    left: calc(50%-50px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    animation: xoayvong 6s infinite;
}
@keyframes xoayvong {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/*menu*/
.menu {
    background-color: var(--bg-color);
}
.menu-title{
    width: 100%;
    text-align: center;
}
.menu-title .menu-button{
    background-color: transparent;
    margin: 15px 12px;
    border: none;
    font-size: 25px;
    color: var(--text-coler);
    cursor: pointer;
}
.menu-title .menu-button .active{
    color: var(--sub-color);
}
.menu-title .menu-button:hover{
    color: var(--sub-color);
}
.food-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    position: relative;
}
.food-items::before{
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px ;
    bottom: 0;
    border: 1px dashed var(--main-color);
    
}
.food-items:hover .food-item p{
    color: var(--sub-color);
}
.food-items:hover .food-price p{
    color: var(--text-coler);
}
.food-item{
    display: flex;
    align-items: center;
}
.food-item img{
    width: 100px;
    margin-right: 35px ;

}
.food-item p{
    color: var(--text-coler);
    transition: all 0.3 ease-in;
    font-size: 20px;
}
.food-price p{
    color: var(--sub-color);
    transition: all 0.3 ease-in;
}
.menu-item-content {
    display: none;
}
.menu-item-content.active {
    display: flex;
    flex-wrap: wrap;
}